<!-- Shared/MainLayout.razor -->
@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <header>
        <NavMenu />
    </header>
    <main class="flex-grow container mx-auto p-4">
        @Body
    </main>
   
</div>
